body {
    font-family: "Londrina Solid", serif;
    margin: 0;
    padding: 0;
    background-color: #FFD64D;
    color: #000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 5%;
    margin-top: 2em;
}

.logo {
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: left;
    padding-left: 260px;
}

.logo img {
    height: 50px;
    order: 0;
}

.logo-title {
    font-size: 3em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 0;
    order: 1;
    text-decoration: none;
    color: inherit;
    padding-right: 30px;
}

.logo-title a {
    text-decoration: none;
    color: inherit;
}

.logo-title a:hover {
    text-decoration: none;
}

.tagline {
    margin-top: 8px;
    font-size: 1.1em;
    line-height: 1.2em;
    margin-left: 10px;
    padding-right: 30px;
}

.button-group {
    display: flex;
    gap: 1em;
    margin-right: 16em;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.button:hover {
    background-color: black;
    color: white;
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover {
    background-color: #666666;
    color: #0e0a0a;
}

.button.button-on {
    background-color: #4CAF50;
    color: white;

}

.welcome {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome2 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 2em 0 1em;
}

.welcome img {
    height: 100px;
    margin-left: 20px;
    padding-bottom: 50px;
}

.welcome2 img {
    height: 100px;
    margin-left: 20px;
    padding-bottom: 5px;
}

.green-box {
    background-color: #5648ED;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0 auto 2em;
    max-width: 600px;
    border-radius: 8px;
    font-size: 1.6em;
}

.voting-options {
    margin-top: 2em;
}

.voting-options2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.option {
    background-color: #FF3377;
    color: white;
    padding: 15px 20px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 1.2em;
    width: 80%;
    max-width: 600px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option2 {
    background-color: #FF3377;
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option button {
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.add-proposal {
    background-color: #5648ED;
    color: white;
    border: 2px solid #5648ED;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: 2em;
    display: block;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.add-proposal:hover {
    background-color: #5A65FA;
}

.add-proposal2 {
    background-color: #5648ED;
    color: white;
}

.option button:hover {
    background-color: black;
    color: white;
}

.footer {
    margin-top: 3em;
    font-size: 0.9em;
    color: black;
    text-align: center;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
